
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: #fff;
}

.module_title {
    grid-column: 1 / 5;
    background-color: rgb(158, 149, 149);
}

.title{
    justify-self: center;
}

@media screen and (max-width: 780px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .module-title {
        background-color: rgb(158, 149, 149);
        border-radius: 0px;
    }

    .inside_grid{
        grid-column: 1 / 5;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        font-size: 10px;
    }

    .title{
        display: none;
    }
}